
#text{
  float: right;
  width: 70%;
}
#imag{
  background: url('some.png')
   no-repeat left top ;
   height: 100vh;
   width: 30%;
   float: left;
}
@media (max-width: 480px) {
  #text{
  float: right;
  width: 100%;
  position: relative;
  top: 280px;
  }
  #imag{
  float: left;
  width: 100%;
  position: relative;
  top: -180px;
  left: 30px;

}
}

@media (max-width: 440px) {
  #imag{
    float: left;
    position: relative;
    left: 20%;
    top: -150px;;
  }
}

@media (max-width: 320px) {
  #imag{
    float: left;
    position: relative;
    top: -205px;
    right: -350px;
  }
}
